/* Import Icon Font from local source */

@font-face {
    font-family: 'icomoon';
    src: url("/fonts/icomoon.eot");
    src: url("/fonts/icomoon.eot#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-aquarius:before {
    content: "\e900";
}

.icon-aries:before {
    content: "\e901";
}

.icon-briefcase:before {
    content: "\e902";
}

.icon-calendar:before {
    content: "\e903";
}

.icon-cancer:before {
    content: "\e904";
}

.icon-capricorn:before {
    content: "\e905";
}

.icon-cards:before {
    content: "\e906";
}

.icon-caret:before {
    content: "\e907";
}

.icon-close:before {
    content: "\e908";
}

.icon-email:before {
    content: "\e909";
}

.icon-eye:before {
    content: "\e90a";
}

.icon-gemini:before {
    content: "\e90b";
}

.icon-happy:before {
    content: "\e90c";
}

.icon-heart:before {
    content: "\e90d";
}

.icon-infinity:before {
    content: "\e90e";
}

.icon-leaf:before {
    content: "\e90f";
}

.icon-leo:before {
    content: "\e910";
}

.icon-libra:before {
    content: "\e911";
}

.icon-megaphone:before {
    content: "\e912";
}

.icon-money:before {
    content: "\e913";
}

.icon-moon .path1:before {
    content: "\e914";
    color: black;
}

.icon-moon .path2:before {
    content: "\e915";
    margin-left: -0.9990234375em;
    color: #010101;
}

.icon-paw:before {
    content: "\e916";
}

.icon-pisces:before {
    content: "\e917";
}

.icon-sagittarius:before {
    content: "\e918";
}

.icon-scorpio:before {
    content: "\e919";
}

.icon-search:before {
    content: "\e91a";
}

.icon-shoe:before {
    content: "\e91b";
}

.icon-star:before {
    content: "\e91c";
}

.icon-sun:before {
    content: "\e91d";
}

.icon-taurus:before {
    content: "\e91e";
}

.icon-utensils:before {
    content: "\e920";
}

.icon-virgo:before {
    content: "\e921";
}

.icon-yinyang:before {
    content: "\e922";
}

.icon-gplus:before {
    content: "\ea8b";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-pinterest:before {
    content: "\e91f";
}

.icon-youtube:before {
    content: "\e923";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-chat:before {
    content: "\e924";
}

.icon-phone:before {
    content: "\e925";
}

.icon-crystal-ball:before {
    content: "\e926";
}

.icon-saturn:before {
    content: "\e927";
}

.icon-hamburger:before {
    content: "\e928";
}




/* Play Template */

.play-template .popular .item h3 {
    margin: 1rem 0 0.2rem 0;
}

.more-games {
    background: #cef2ff;
    background: -moz-linear-gradient(-45deg,#cef2ff 0%,#f9eddb 46%,#fcd1ff 100%);
    background: -webkit-linear-gradient(-45deg,#cef2ff 0%,#f9eddb 46%,#fcd1ff 100%);
    background: linear-gradient(135deg,#cef2ff 0%,#f9eddb 46%,#fcd1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cef2ff',endColorstr='#fcd1ff',GradientType=1);
    text-align: center;
}



/* Subnav */

.filter-nav, .filter-nav li {
    transition: all 0.2s ease-in-out;
}

.subnav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,1);
    padding: 1rem 0 0.5rem;
    border-bottom: 0;
    z-index: 999;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}


.subnav-container {   
    height: 41px;
}

/* Media Queries for Responsive Layout Changes*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */


@media only screen and (min-width: 768px) {
     .subnav-scrolled {
        text-align: center;
    }
}


/* Medium devices (desktops, 992px and up) */

@media only screen and (min-width: 992px) {
     .subnav-scrolled {
        text-align: center;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
     .subnav-scrolled {
        text-align: center;
    }
}